.padding_10{
  padding: 10px;
}

.text_box {
  width: 300px;
  height: 50px;
  padding: 10px;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.secondContainer{
  width: 700px;
  /* border: 1px solid black; */
}

input{
  width: 700px;
  height: 50px;
}

.userEmotion{
  width: 150px;
  height: 80px;
  font-size: 50px;
}

.userEmotionOption{
  font-size: 500pt;
  width:200px;
  height:200px;
}
